@using Fridges.Client.Models.Entities;

@model IEnumerable<Product>
@{
    ViewData["Title"] = "Products";
}

@*<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td><a href="products/@item.Id">@item.Name</a></td>
                    <td>
                        <div class="btn-group">
                            <a href="@Url.Action("Edit", "ProductController", new { id = item.Id })" class="btn btn-warning">Edit</a>
                            <button type="button" class="btn btn-danger" onclick="deleteItem(@item.Id)">Delete</button>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>*@

<div class="container">
    <div class="row">
        @{
            int index = 1;
            @foreach (var item in Model)
            {
                string src = Url.Content($"~/img/i{index}.png");
                <div class="col-md-3">
                    <div class="card mb-3 shadow-sm">
                        <div class="thumb-content parent">
                            <img class="card-img-top img-fluid image-center" src=@src alt=@item.Name>
                        </div>
                        <div class="card-body">
                            <p class="card-text">@item.Name</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <small class="text-muted">Default quantity: @item.DefaultQuantity</small>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-warning">Edit</button>
                                    <button type="button" class="btn btn-danger">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                index++;
            }
        }
    </div>
</div>